@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #44c7f5;
    --nav-color: #44c7f5;
    --dash-color: #fff;
    --logo-color: #fff;
    --text-color: #000;
    --text-color-light: #333;
    --white: #fff;
    --border-color: #ccc;
    --toggle-color: #fff;
    --box1-color: #6fedd6;
    --box2-color: #c1d5a4;
    --box3-color: #ffd39a;
    --title-icon-color: #fff;

    --time-03: all 0.3s linear;
    --time-02: all 0.2s linear;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--dash-color);
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

body.dark {
    --primary-color: #3a3b3c;
    --nav-color: #181919;
    --dash-color: #262629;
    --logo-color: #ddd;
    --text-color: #ccc;
    --text-color-light: #ccc;
    --white: #aaa;
    --border-color: #404040;
    --toggle-color: #ddd;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ddd;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 100px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--nav-color);
    padding: 10px 0 10px 10px;
    transition: var(--time-03);
}

nav.close {
    width: 72px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

nav .logo-image img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

nav .logo .logo-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--logo-color);
    margin-left: 14px;
    white-space: nowrap;
    transition: var(--time-02);
}

nav.close .logo .logo-name {
    opacity: 0;
}

nav .menu-items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    justify-content: space-between;

}

nav .menu-items li {
    list-style: none;
}

nav .menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
}



nav .menu-items li.active a {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
}

nav .menu-items li a .fa-icon {
    color: var(--white);
    font-size: 20px;
    min-width: 45px;
}

nav .menu-items li a .links {
    font-size: 18px;
    color: var(--white);
    transition: var(--time-02);
}

nav.close .menu-items li a .links {
    opacity: 0;
}

nav .menu-items li.active a {
    background-color: var(--dash-color);
}

nav .menu-items li.active a:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    border-radius: 50%;
    box-shadow: 20px 20px var(--dash-color);
    pointer-events: none;
}

nav .menu-items li.active a:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: -40px;
    border-radius: 50%;
    box-shadow: 20px -20px var(--dash-color);
    pointer-events: none;
}


nav .menu-items li.active a .links {
    color: var(--primary-color);
}

body.dark nav .menu-items li.active a .links,
body.dark nav .menu-items li.active a .fa-icon {
    color: var(--text-color);
}

nav .menu-items li.active a .fa-icon {
    color: var(--primary-color);
}

nav .menu-items .fa-icon {
    margin-left: 10px;
}

nav .menu-items .mode {
    display: flex;
}

.menu-items .darkToggle {
    position: absolute;
    right: 15px;
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkToggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.darkToggle .switch:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--nav-color);
    transition: var(--time-02);
}

body.dark .switch::before {
    left: 20px;
}


.dashboard {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    background-color: var(--dash-color);
    padding: 10px 15px;
    transition: var(--time-03);
}

nav.close~.dashboard {
    width: calc(100% - 72px);
    left: 72px;
}


.dashboard .top {
    position: fixed;
    background-color: var(--dash-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 250px;
    top: 0;
    padding: 10px 15px;
    width: calc(100% - 250px);
    transition: var(--time-03);
    z-index: 100;
}

nav.close~.dashboard .top {
    width: calc(100% - 72px);
    left: 72px;
}

.dashboard .top .navToggle {
    font-size: 25px;
    color: var(--text-color);
    cursor: pointer;
}

.top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dashboard .top .searchBox {
    position: relative;
    height: 35px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
    width: 80%;
    margin: 0 30px;
}

.dashboard .top .searchBox:focus-within {
    border-color: #0ff9;
    box-shadow: 0 0 5px #0ff9;
}

.top .searchBox input {
    width: 100%;
    height: 100%;
    font-size: 12px;
    border: none;
    background-color: var(--dash-color);
    color: var(--text-color);
}

.top .searchBox input:focus {
    outline: none;
}

.top .searchBox .fa-icon {
    font-size: 15px;
    color: var(--text-color-light);
    padding: 0 15px;
}

.container {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px;
}

.container .title .fa-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--title-icon-color);
    border-radius: 6px;
}

.container .title .text {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.container .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%/3 - 15px);
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--box1-color);
}

.boxes .box .fa-icon {
    font-size: 25px;
    color: var(--text-color);
    margin: 5px;
}

.boxes .box .text {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.container .activity .activity-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.activity-data .data-title {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 500;
    white-space: nowrap;
}

.activity-data .data-list {
    font-size: 15px;
    color: var(--text-color);
    margin-top: 20px;
    white-space: nowrap;
}

.profile {
    border: 1px solid var(--text-color);
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.profile {
    color: var(--text-color);
    font-size: 20px;
}

@media (max-width:768px) {
    nav {
        width: 72px;
    }

    nav.close {
        width: 250px;
    }
    nav .logo .logo-name {
        opacity: 0;
    }

    nav.close .logo .logo-name {
        opacity: 1;
    }

    .menu-items li a .links {
        opacity: 0;
    }

    nav.close .menu-items li a .links {
        opacity: 1;
    }

    .dashboard {
        width: calc(100% - 72px);
        left: 72px;
    }

    nav.close~.dashboard {
        width: calc(100% - 250px);
        left: 250px;
    }

    .dashboard .top {
        width: calc(100% - 72px);
        left: 72px;
    }

    nav.close~.dashboard .top {
        width: calc(100% - 250px);
        left: 250px;
    }


    .container .boxes .box {
        width: calc(100%/2 - 15px);
        margin-top: 30px;
    }
}

@media (max-width: 560px) {
    .container .boxes .box{
        width: 100%;
    }
    .activity-data .data-list {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    nav{
        transform: translateX(-73px);
    }
    nav.close{
        transform: translateX(0);
        width: 73px;
    }
    

    nav.close .logo .logo-name {
        opacity: 0;
    }

    

    nav.close .menu-items li a .links {
        opacity: 0;
    }
    .dashboard {
        width: 100%;
        left: 0px;
    }

    nav.close~.dashboard {
        width: calc(100% - 72px);
        left: 72px;
    }

    .dashboard .top {
        width: 100%;
        left: 0;
    }

    nav.close~.dashboard .top {
        width: calc(100% - 72px);
        left: 72px;
    }

}

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 100 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* Horizontally center the modal */
  margin-top: 2%; /* Adjust the top margin as needed */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.modal-header h2 {
  margin-top: 0;
}

.modal-body {
    text-align: justify;
}

.modal-footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #333;
    display: flex;
    flex-direction: row-reverse;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -55px;
}

.primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(22, 185, 236, 1);
    transition: all 0.3s linear;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #265df2;
}

.secondary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background-color: #bbb;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-right: 10px;
}

.secondary-btn:hover {
    background: #aab;
}

.danger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background-color: #c62828;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-right: 10px;
}

.danger-btn:hover {
    background: #b71c1c;
}

.float-right {
    float: right;
}

.error {
    border: 1px solid red !important;
}

.content{
    position: relative;
    border-radius: 6px;
    padding: 30px;
}

.content header{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
.content header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: black
}
.content #form{
    position: relative;
    margin-top: 16px;
    background-color: #fff;
}
.content #form .form{
    background-color: #fff;
    transition: 0.3s ease;
}


.content #form .first{
    position: relative;
    background-color: #fff;
    transition: 0.3s ease;
}



.content #form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.content #form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* form-first*/
#form .first .fields .input-field{
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
} 



/*form-second*/
/* Hereeeeeeeeeeeeeeeeeeeeee v*/
#form .second .fields .input-field {
    position: relative;
    width: calc(100% );
    flex-direction: column;
    margin: 4px 0;
}
#form .first .fields .input-field , 
#form .second .fields .input-field:not(.terms_condition){
    display: flex;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field:not(.terms_condition) input,
.input-field:not(.terms_condition) select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}

@media (max-width: 750px) {
    .content #form{
        overflow-y: scroll;
    }
    .content #form::-webkit-scrollbar{
       display: none;
    }
    #form .first .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
    #form .second .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 610px) {
    #form .first .fields .input-field{
        width: 100%;
    }
    #form .second .fields .input-field{
        width: 100%;
    }  
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.btn-edit,
.btn-delete,
.btn-view {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btn-edit {
    border: 1px solid rgba(22, 185, 236, 1);
    color: rgba(22, 185, 236, 1);
}

.btn-delete {
    border: 1px solid #e53935;
    color: #e53935;
}

.btn-view {
    border: 1px solid #1e88e5;
    color: #1e88e5;
}

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: rgba(22, 185, 236, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.select2-selection__choice__display {
    font-size: 12px;
}

.select2-container--default .select2-selection--multiple {
    min-height: 42px !important;
}

.err-msg {
    color: red;
    font-size: 11px;
    display: flex;
}

.error {
    border: 1px solid red !important;
}

.text-center {
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.cover_letter {
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
}

.btn-withdraw {
    display: none;
}

.jobs-table {
    font-size: 14px;
}

.settings-dropdown-list {
    display: none;
}

.settings-dropdown-list > li > a {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.settings-dropdown-list > li > a,
.settings-dropdown-list > li > a > .fa-icon,
.settings-dropdown-list > li > a > .links  {
    background: #fff;
    width: 100%;
    color: var(--primary-color) !important;
}

.settings-dropdown-list > li > a > .fa-icon {
    width: 0;
}