/* navbar */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(217, 217, 217, 0.34);
}

.navbar {
  background-color: #fff;
  color: black;
  display: flex;
  position: relative;
  padding: 10px 10px;
  align-items: flex-end;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.navbar- {
  display: flex;
  align-items: flex-end;
}

.navbar-buttons > a {
  margin-left: 80px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 29px;
}

.logo {
  position: relative;
  width: 170px;
  height: 70px;
  top: 10px;
}

.navbar-right {
  float: right;
  display: flex;
  align-items: flex-end;
}

.employer-company {
  display: inline;
  position: relative;
  cursor: pointer;
}

.employer-company::before {
  height: 40px;
  width: 2px;
  margin: 0px -15px;
  background-color: #aaa6b9;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}

.employer-icon {
  padding: 0px 6vw;
  display: flex;
  align-items: flex-end;
  position: relative;
  cursor: pointer;
}

.employer-icon img {
  width: 4vw;
  height: 4vw;
  float: right;
}

.employer-icon p {
  padding-left: 1vw;
}

.employer-icon::after {
  height: 40px;
  width: 2px;
  margin: 0px 50px;
  background-color: #aaa6b9;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}

/* Tabs */

.tab- {
  display: flex;
  align-items: flex-end;
  background-color: rgba(214, 247, 254, 0.72);
  width: auto;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

.tab- a {
  margin: 0px 60px;
  font-size: 25px;
  justify-items: center;
  font-weight: 900;
  padding-top: 30px;
  text-decoration: none;
  color: #000;
  opacity: 100%;
}

.tablinks {
  position: relative;
}

.tablinks:hover {
  color: #55abf4;
  cursor: pointer;
}

.tablinks::after {
  transition: all 0.2s;
  opacity: 0;
  height: 4px;
  width: 100%;
  background-color: #55abf4;
  position: absolute;
  bottom: -23px;
  left: 0;
  content: "";
}

.tablinks:hover::after {
  opacity: 1;
}

.solidButton {
  background-color: #55abf4;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  border-radius: 34px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  margin: 0px 50px;
}

/* Style the tab */
.tab- {
  overflow: hidden;
}

/* Style the tab content */
.tabcontent {
  display: none;
  flex: content;

  /* padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none; */
}

.jobcontainer {
  background-color: #fff;
  width: 90%;
  height: 90%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  margin-left: 5%;
  border-top: 7px solid rgba(214, 247, 254, 0.72);
  border-radius: 6px;
}

table.datatable {
	width:100%;
	border: none;
	background:#fff;
}
table.datatable td.table_foot {
	border: none;
	background: #fff;
	text-align: center;
}
table.datatable tr.odd_col {
	background: none;
}
table.datatable tr.even_col {
	background: #ddd;
}
table.datatable td {
	font-size:10pt;
	padding:5px 10px;
	border-bottom:1px solid #ddd;
	text-align: left;
}
table.datatable th {
	text-align: left;
	font-size: 8pt;
	padding: 10px 10px 7px;   
	text-transform: uppercase;
	color: #fff;
	background-color: black;
	font-family: sans-serif;
}