body{
    padding: 0;
    margin: 0;
}

.navbar {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-end;
  height: 60px;
}

.navbar-buttons > a {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-size: 24px;
  line-height: 29px;
}

.logo {
  position: absolute;
  width: 170px;
  height: 70px;
  top: 10px;
}

/* Floating text */
.text-container {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 60px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis;
}

.text-container p {
  margin: 0; /* Remove default margin */
}

/* Floating button */
.floating {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 45%;
  top: 525px;
}

.floating a {
  /* position: absolute; */
  /* top: 69%; */
  transform: translate(-50%, -50%);
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  /* margin: 10px 20px; */
  border-radius: 34px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

.floating-button {
  /* left: 45%; */
  background-color: #60a2e4;
  color: #fff;
  padding-left: 5px;
  /* position: absolute; */
}

.floating-button2 {
  /* left: 56.5%; */
  border: 2px solid #60a2e4;
  background-color: #60a2e400;
  color: #60a2e4;
  position: relative;
}

.floating-button2:hover {
  background-color: #60a2e4;
  color: #fff;
  transition: 0.5s;
}

/* Floating image */

.inner {
  position: relative;
  margin-top: 155px;
  margin-bottom: 20px;
}

.inner-img1 {
  position: absolute;
  left: 18%;
  transform: translate(-50%, -50%);
  margin: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  width: fit-content;
}

.inner-img1:hover,
.inner-img2:hover,
.inner-img3:hover,
.inner-img4:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -52%);
}

.inner-img2 {
  position: absolute;
  left: 42%;
  transform: translate(-50%, -50%);
  margin: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  width: fit-content;
}
.inner-img3 {
  position: absolute;
  left: 65%;
  transform: translate(-50%, -50%);
  margin: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  width: fit-content;
}
.inner-img4 {
  position: absolute;
  left: 90%;
  transform: translate(-50%, -50%);
  margin: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  width: fit-content;
}

/* Innovative assitive tools.... */
.text-container1 {
  position: relative;
  display: block;
  margin-top: 300px;
}
.txt-1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

/* Our Services content */
.home-pic2 {
  position: relative;
  display: inline-block;
}

.home-pic2 img {
  display: block;
  max-width: 100%;
}

.pic2 {
  width: 1480px;
  height: 600px;
  position: relative;
}

.text-container2 {
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 60px;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis;
}

.text-container p {
  margin: 0; /* Remove default margin */
}
.home-pic2 {
  position: relative;
  width: 100%;
}

/* Card/Slider --- Our Services*/
.image-container {
  position: relative;
}

.slide-container {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: calc(
    20% + 10px
  ); /* Adjust the top position based on the desired spacing */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 380px;
  margin: 28px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(3%);
}

.card img {
  width: 700px;
  height: 210px;
}

.card .content {
  padding: 0px;
  text-align: center;
}
.card .content p {
  margin: 10px;
  font-size: 15px;
  line-height: 1.5;
  color: #6a6a6a;
}
.card .content h3 {
  margin-bottom: 15px;
}

/* Slider in first content */
.slider {
  width: auto;
  height: 600px;
  overflow: hidden !important;
}

.slides {
  width: 420%;
  height: 500px;
  display: flex;
  overflow: hidden !important;
}

.slides input {
  display: none;
}

.slide {
  transition: 2s;
  overflow: hidden !important;
}

.slide img {
  width: 100%;
  height: 600px;
}

.navigation-manual {
  position: absolute;
  top: 80%;
  left: 47%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.manual-btn {
  border: 2px solid cornflowerblue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: cornflowerblue;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
  display: none;
  top: 80%;
  width: 1550px;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid cornflowerblue;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: cornflowerblue;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: cornflowerblue;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: cornflowerblue;
}

/* LATEST ARTICLE */
.article-content {
  width: auto;
  margin: 20px auto 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.article-content .main-content {
  width: 100%;
  float: left;
}

.article-content .main-content .post {
  width: 95%;
  height: 210%;
  margin: 10px auto;
  border-radius: 5px;
  background: #fff;
  position: relative;
}

.article-content .main-content .post .read-more {
  position: absolute;
  bottom: -40px;
  border: 1px solid #60a2e4;
  background: transparent;
  border-radius: 0px;
  color: #60a2e4 !important;
}

.article-content .main-content .post .read-more:hover {
  background: #60a2e4;
  color: white !important;
  transition: 0.25s;
}

.article-content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
}

.article-content .main-content .post .post-review {
  position: absolute;
  top: -10px;
  right: 50px;
  width: 50%;
  padding: 10px;
  float: right;
}

.article-content .main-content .recent-article-title {
  margin: 20px;
}
.article-content .sidebar {
  width: 30%;
  float: left;
  height: 300px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  padding: 0.5rem 1rem;
  background: #60a2e4;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.btn:hover {
  color: #fff !important;
  background: #60a2e4;
}

.article-content .main-content .post2 {
  width: 95%;
  height: 210%;
  margin: 10px auto;
  border-radius: 5px;
  background: #fff;
  position: relative;
}

.article-content .main-content .post2 .read-more2 {
  position: absolute;
  bottom: -40px;
  border: 1px solid #60a2e4;
  background: transparent;
  border-radius: 0px;
  color: #60a2e4 !important;
}

.article-content .main-content .post2 .read-more2:hover {
  background: #60a2e4;
  color: white !important;
  transition: 0.25s;
}

.article-content .main-content .post2 .post-image {
  width: 40%;
  height: 100%;
  float: left;
}

.article-content .main-content .post2 .post-review2 {
  position: absolute;
  top: -10px;
  right: 50px;
  width: 50%;
  padding: 10px;
  float: right;
}

.article-content .main-content .post3 {
  width: 95%;
  height: 210%;
  margin: 20px auto;
  border-radius: 5px;
  background: #fff;
  position: relative;
}

.article-content .main-content .post3 .read-more3 {
  position: absolute;
  bottom: -40px;
  border: 1px solid #60a2e4;
  background: transparent;
  border-radius: 0px;
  color: #60a2e4 !important;
}

.article-content .main-content .post3 .read-more3:hover {
  background: #60a2e4;
  color: white !important;
  transition: 0.25s;
}

.article-content .main-content .post3 .post-image {
  width: 40%;
  height: 100%;
  float: left;
}

.article-content .main-content .post3 .post-review3 {
  position: absolute;
  top: -10px;
  right: 50px;
  width: 50%;
  padding: 10px;
  float: right;
}

/* Footer */
.footer {
  background: #303036;
    color: #fff;
    width: 100%;
    height: 70px;
    position: relative;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 50px;
  width: inherit;
  text-align: center;
  position: relative;
  bottom: 1px;
  left: 1px;
}
